.team_container{
    height: 694px;
    margin-top: 100px;
}

.team_title h1{
    color: #1F4B43;
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
}

.team_title p{
    font-size: 17px;
    text-align: center;
}

.team_img_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.team_img_container figure{
    background-color: grey;
    margin-top: 50px;
    height: 397px;
    width: 250px;
    border-radius: 16px;
}
figcaption{
    margin: 15px 10px;
}