

.bg_image img{
    margin-top: -100px;
    width: 100%;
}

.discover_text{
    width: 99.3%;
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    top: 374rem;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.discover_button Button{
    margin-top: 15px;
    width: 220px;
    height: 60px;
    background-color: #DBA94D;
    border: #DBA94D;
    border-radius: 12px;
    font-size: 16px;
}


@media (max-width:768px) {
    .discover_text{
        width: 99.3%;
        font-size: 7.5px;
        color: #ffff;
        position: absolute;
        top: 258.5rem;
        text-align: center;
        font-weight: bold;
    }

    .discover_button Button{
        margin-top: 5px;
        width: 65px;
        height: 20px;
        background-color: #DBA94D;
        border: #DBA94D;
        border-radius: 6px;
        font-size: 5px;
    }
}