.section_container{
    margin-top: 70px;
    width: 99.3%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.justApp_text{
    color: #1F4B43;
    font-size: 38px;
    margin-right: 14rem;
    margin-left: 8rem;
}



.justApp_img img{
    width: 400px;
    height: auto;
    margin-left: 13rem;
    
}

.justApp_text h3{
    font-size: 23px;
    margin-top: 20px;
}

.justApp_text p{
    font-size: 16px;
    margin-top: 10px;
    margin-right: 210px;
    line-height: 2.5rem;
}

.justApp-button{
    margin-top: 20px;
    visibility: hidden;
}


/* comprehensive guide image style */
.guide_text{
    color: #1F4B43;
    font-size: 16px;
    margin-right: 14rem;
    margin-left: 8rem;
}

.guide_text h3{
    font-size: 22px;
    margin-top: 10px;
}

.guide_img img{
    width: 248px;
    height: auto;
    margin-left: 13rem;
    
}

.guide_text p{
    font-size: 13px;
    margin-top: 10px;
    line-height: 1.6rem;
}

.guide_text h2{
    font-size: 20px;
    font-weight: lighter;
}

.guide-button Button{
    margin-top: 20px;
    width: 130px;
    background-color: #DBA94D;
    border: #DBA94D;
}