.section_container{
    width: 99.3%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 15rem; */
    /* padding: 40px; */
    justify-content: space-around;
}

.justApp_text{
    color: #1F4B43;
    font-size: 16px;
    margin-right: 13rem;
}

.justApp_img img{
    width: 200px;
    height: auto;
    margin-left: 9rem;
    
}

.justApp_text h3{
    font-size: 15px;
    margin-top: 10px;
}

.justApp_text p{
    font-size: 13px;
    margin-top: 10px;
    line-height: 1.6rem;
}