.info-container{
    width: 100%;
    height: auto;
    background-color: orange;
    /* overflow-x: hidden; */
}

.onfo-inner-container{
    width: 100%;
    max-width: 75%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
}

.info-description{
    width: full;
    height: 300px;
    background-color: aliceblue;

}

.info-image{
    width: full;
    height: 300px;
    background-color: aliceblue;
}