*{
    /* border: 1px solid red; */
    margin: 0;
    /* font-size: 12px; */
    text-decoration: none;
    list-style: none;
}

.main-header{
    margin: 0 100px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    color: #1F4B43;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav ul li{
    list-style: none;
    color: #1F4B43;
    font-size: 16px;
}

@media(max-width: 768px) {
    
}