*{
    margin: 0;
    /* font-size: 12px; */
    text-decoration: none;
    list-style: none;
}

.main-header{
    margin: 0 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    color: #1F4B43;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav ul li a{
    list-style: none;
    color: #1F4B43;
    font-size: 12px;
}

.menu{
    display: none;
}

@media(max-width: 768px) {

    .nav ul li a{
        display: none;
    }

.main-header{
    margin: 0 10px;
    margin-left: 3px;
    justify-content: space-between;
    padding: 0;
    display: flex;
    gap: 35px;
}

.nav{
    width: 100%;
    flex-direction: row;
    gap: 0px;
    padding-right: 5px;
}
.menu{
    display: block;
    padding-left: 10px;
}
}