.our_exp_container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.boxes_container{
    margin-left: 90px;
    display: flex;
    gap: 5px;
    height: 260px;
    justify-content: space-between;
    align-items: center;
}

.boxes_container, text{
    flex-basis: 50%;
}

.box1, .box2, .box3{
    border-radius: 10px;
    height: 70%;
}

.box1{
    flex-basis: 25%;
}

.box2{
    flex-basis: 40%;
}

.box3{
    flex-basis: 35%;
}

.box1 img, .box2 img, .box3 img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.oe_texts{
    font-weight: bold;
    font-size: 28px;
    color: #1F4B43;
    margin-right: 20px;

}

@media (max-width: 768px){

    .our_exp_container{
        margin-top: 10px;
        display: block;
        text-align: center;
    }
    
    .boxes_container{
        margin-left: -1px;
        display: flex;
        height: 150px;
    }

    
    .box1, .box2, .box3{
        margin-top: -60px;
        border-radius: 10px;
        height: 50%;
    }
    
    .box1{
        flex-basis: 25%;
    }
    
    .box2{
        flex-basis: 40%;
    }
    
    .box3{
        flex-basis: 35%;
    }
    
    .box1 img, .box2 img, .box3 img{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    .oe_texts{
        font-weight: bold;
        font-size: 20px;
        color: #1F4B43;
        margin-top: -50px;
        width: 100%;
    
    }

    /* .our_exp_container{
        flex-direction: column;
        display: grid;
        height: auto;
        padding: 0 1rem;
    }

    .boxes_container, text{
        flex-basis: 50%;
    }

    
.box1, .box2, .box3{
    border-radius: 10px;
    height: 60%;
    flex-basis: 100%;
    overflow: hidden;
    width: 100vw;
    object-fit: cover;
}


.texts{
    font-weight: bold;
    padding-left: 0rem;
    text-align: center;
    font-size: 12px;
}

.boxes_container{
    overflow-x: scroll;
    width: 100%;
}

.box1 img, .box2 img .box3 img{
    width: 100%;
    height: 100%;
    overflow: hidden;
} */
}
