.custom-button{
        padding: 12px;
        border: 1px solid #1F4B43;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        font-size: 12px;
        cursor: pointer;
        background-color: #fff;
        color: #1F4B43;
}