.hero-bg img{
    width: 100%;
    height: auto;
}

.text-container{
    position: absolute;
    top: 15rem;
    width: 100%;
}

.text{
    text-align: center;
    font-weight: bold;
    font-size: 52px;
    color: #1F4B43;
}

.sub-text{
    margin-top: 15px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #3c3f4f;
}

.buttons{
    /* border: solid blue; */
    margin-top: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.buttons Button{
    font-size: 14px;
    width: 200px;
    height: 45px;
}

.button1 Button{
    /* border: solid blue 5px; */
    background-color: #1F4B43;
    color: #ffffff;
}

span{
    font-weight: bolder;
}


@media(max-width: 768px){
    .text-container{
        position: absolute;
        top: 7rem;
        width: 100%;
    }

    .text{
        text-align: center;
        font-weight: bold;
        font-size: 22px;
        color: #1F4B43;
    }
    
    .sub-text{
        margin-top: 5px;
        text-align: center;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 10px;
        color: #3c3f4f;
    }
    
    .buttons{
        margin-top: 10px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
    
    .buttons Button{
        font-size: 5px;
        width: 50px;
        height: 5px;
    }
    
    .button1 Button{
        background-color: #1F4B43;
        color: #ffffff;
    }
    
    span{
        font-weight: bolder;
    }
}